#root {
  font-family: Didot;
  background-image: url('./assets/cool-background.png');

}

.container-fluid {
  margin-bottom: 0px;
}

#artworks-index h1 {
  margin-bottom: 25px;
}

#artworks-index .card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-top: 5px;
  margin-bottom: 5px;
}

#artworks-index .card-price {

  margin-top: 0px;
  margin-bottom: 10px;
}

#artworks-index .card-title {
  height: 2em;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
}

#artworks-index .card-body-custom {
  text-align: center;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 12px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


#artworks-index .card-text {
  padding-top: 15px;
  /* adjust this value as needed */
}

#artworks-index .black-buy-button {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  width: 135px;
}


.navbar .nav-item {
  padding-left: 0;
  margin-left: 0;
}

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-underline {
  margin-left: -15px !important;
}

.bg-body-tertiary {
  background-color: rgb(255, 255, 255);
  
}

.red-search-button {
  background-color: rgb(216, 87, 87);
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    width: 135px;

}